.fparent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.fparent > * {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0.5em;
  flex-shrink: 1;
  flex-grow: 1;
}

.fchild {
  margin-left: 0.6em;
}

span.fchild {
    white-space: nowrap;
    margin-left: 0;
}

@media only screen and (max-width: 768px) {
  .fparent > * {
    flex-direction: column;
  }
}

table {
  overflow-x: auto;
  display: block;
}

thead {
  border-bottom: 2px solid #484644;
  border-top: 2px solid #484644;
}

th {
  text-align: center;
  padding: 0.5em 0;
}

td {
  padding: 0.5em 1.2em;
  border-bottom: 1px solid #333;
}

td:first-child {
  padding-left: 0.5em;
  border-left: 0;
}

td:last-child {
  padding-right: 0.5em;
}

table {
  border-spacing: 1em 0;
  margin: 2em 0;
}
